{{ use('/yii/grid/GridView') }}
{{ use('/app/assets/views/SiteIndexAsset') }}
{{ use('/kartik/datetime/DateTimePicker') }}

{{ register_site_index_asset() }}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% set datePickerClassName = DateTimePicker.classname() %}
                {% set filterFormWiget = active_form_begin({
                'id' : 'filter-form',
                'options' : {'class' : 'form-inline'},
                'enableClientValidation' : true,
                'fieldConfig' : {
                'template' : '{label}\n{input}{hint}'
                }
                }) %}
                {{ filterFormWiget.field(filterForm, 'startDateTime')
                .widget(datePickerClassName,
                {
                    'pluginOptions' : {
                    'format' : 'dd.mm.yy, hh:ii'
                }
                }
                ) | raw }}
                {{ filterFormWiget.field(filterForm, 'backPeriod').dropDownList(backPeriodDropDownListData) | raw }}
                {{ filterFormWiget.field(filterForm, 'pointsCount').dropDownList(chartPointsDropDownListData) | raw }}
                {{ html.submitButton(t('app', '#Submit#'), {'class' : 'btn btn-primary'}) | raw }}
                {{ active_form_end() }}
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                {{ t('app', '#Minimum temperature:#') }} {{ weatherStatistics.minimumTemperature }} {{ t('app', '#&deg;C#') | raw }}
            </div>
            <div class="col-sm-4">
                {{ t('app', '#Average temperature:#') }} {{ weatherStatistics.averageTemperature }} {{ t('app', '#&deg;C#') | raw }}
            </div>
            <div class="col-sm-4">
                {{ t('app', '#Maximum temperature:#') }} {{ weatherStatistics.maximumTemperature }} {{ t('app', '#&deg;C#') | raw }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                {{ t('app', '#Minimum pressure:#') }} {{ weatherStatistics.minimumMmHg }}
            </div>
            <div class="col-sm-4">
                {{ t('app', '#Average pressure:#') }} {{ weatherStatistics.averageMmHg }}
            </div>
            <div class="col-sm-4">
                {{ t('app', '#Maximum pressure:#') }} {{ weatherStatistics.maximumMmHg }}
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-10">
                <canvas id="temperature-chart" height="300"></canvas>
            </div>
            <div class="col-sm-1">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-10">
                <canvas id="pressure-chart" height="300"></canvas>
            </div>
            <div class="col-sm-1">
            </div>
        </div>
    </div>
</section>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-10">
                <div class="table-responsive">
                    {{ grid_view_widget({
                        'dataProvider' : weatherDataProviderModel,
                        'columns' : [
                        'id',
                        'temp',
                        'pressure',
                        'alt',
                        'dateTime:datetime'
                        ]
                    }) }}
                </div>
            </div>
            <div class="col-sm-1">
            </div>
        </div>
    </div>
</main>

{% set pageJs = '$("document").ready(function() {
        var siteIndexpage = new SiteIndexPage(' ~ filterForm.pointsCount ~', "2015-07-10 15:46:00", ' ~ filterForm.backPeriod ~ ');
        siteIndexpage.init();
    });' %}

{{ this.registerJs(pageJs) }}